* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.welcome {
    background-image: linear-gradient(#ff5722, #dbea12, #ff45f6);
    position: relative;
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
}

h1 {
    color: #12ead1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    z-index: 1;

}
h1::before{
    content: "";
    top: 0%;
    left: 0%;
    position: absolute;
    width: 99vw;
    height: 99vh;
    background-color: transparent;

}
ul li {
    position: absolute;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    list-style: none;
    opacity: 0;
    background: #fff;
}

.square li {
    top: 50vh;
    left: 45vw;
    animation: square 10s linear infinite;
}

.square li:nth-child(2) {
    top: 88vh;
    left: 10vw;
    animation-delay: 2s;

}

.square li:nth-child(3) {
    top: 80vh;
    left: 85vw;
    animation-delay: 4s;
}

.square li:nth-child(4) {
    top: 10vh;
    left: 70vw;
    animation-delay: 6s;

}

square li:nth-child(5) {
    top: 10vh;
    left: 10vw;
    animation-delay: 8s;

}

@keyframes square {
    0% {
        transform: scale(0);
        opacity: 1;
        transform: rotateY('0deg');
    }

    100% {
        transform: scale(5);
        opacity: 0;
        transform: rotateY('1000deg');
    }
}

.circle li {
    bottom: 0;
    left: 15vw;
    animation: circle 10s linear infinite;
}

.circle li:nth-child(2) {
    /* top: 10vh; */
    left: 35vw;
    
    animation-delay: 2s; 
}

.circle li:nth-child(3) {
    /* top: 10vh; */
    left: 55vw;
    animation-delay: 6s;
}

.circle li:nth-child(4) {
    /* top: 10vh; */
    left: 75vw;
    animation-delay: 4s;
}

.circle li:nth-child(5) {
    /* top: 10vh; */
    left: 90vw;
    animation-delay: 8s;
}
@keyframes circle{
    0%{
        transform: scale(0) rotate(0deg);
        opacity: 1;
        bottom: 0;
        border-radius: 0;


    }
    100%{
        transform: scale(5) rotate(1000deg);
        opacity: 0;
        bottom: 90vw;
        border-radius: 50%;


    }
}